.coverage
.idea/
.pytest_cache
__pycache__

ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
ansible/site.yml
!ansible/roles/.keep
!ansible/roles/devel

build
cbsd.conf
cfg/ansible.cfg
coverage.xml
site.retry
vars.mk
