*.py[co]
.coverage
.idea/
.ropeproject
.provisioned
build
cbsd.conf
coverage.xml
local_config.py
nosetests.xml
onelove/static/
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
!ansible/roles/.keep
!ansible/roles/devel
ansible/site.yml
site.retry
vars.mk
vendor/
