git+https://github.com/ansible/ansible
celery
git+https://github.com/flask-admin/flask-admin
flask-collect
flask-jwt
flask-mongoengine
flask-restful
flask-restplus
flask-script
flask-security
flask-login==0.2.11
flower
mongoengine
uwsgi
