git+https://github.com/ansible/ansible@stable-2.0
celery
flask-admin
flask-collect
flask-jwt
flask-mongoengine
flask-restful
flask-restplus
flask-script
flask-security
flask-login==0.2.11
flower
mongoengine
uwsgi
