from datetime import timedelta


class BaseConfig:
    SECRET_KEY = '{{ key "onelove/secret_key" }}'
    MONGODB_DB = 'onelove'

{{ range service "mongo" }}
    MONGODB_HOST = '{{.Address}}'
    MONGODB_PORT = {{.Port}}
    CELERY_RESULT_BACKEND = 'mongodb://{{.Address}}:{{.Port}}/'
{{ end }}

{{ range service "rabbitmq-5672" }}
    BROKER_URL = 'amqp://guest@{{.Address}}:{{.Port}}//'
{{ end }}

    SECURITY_PASSWORD_HASH = 'sha512_crypt'
    SECURITY_PASSWORD_SALT = 'COmwUar8X1s4NrNN'
    SECURITY_SEND_REGISTER_EMAIL = False

    JWT_EXPIRATION_DELTA = timedelta(days=1)

    @staticmethod
    def init_app(app):
        pass
