class BaseConfig(object):
    {{ range service "mongo" }}
    MONGODB_HOST = '{{.Address}}'
    MONGODB_PORT = {{.Port}}
    CELERY_RESULT_BACKEND = 'mongodb://{{.Address}}:{{.Port}}/'
    {{ end }}
    {{ range service "rabbitmq-5672" }}
    BROKER_URL = 'amqp://guest@{{.Address}}:{{.Port}}//'
    {{ end }}
    SECRET_KEY = '{{ key "onelove/secret_key" }}'
