{% extends "bootstrap/base.html" %}

{% load widget_tweaks %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="starter-template">
    <form action="" method="post">
        {% csrf_token %}
        {% render_field form.name placeholder="Name of the Fleet" %}
        {% render_field form.url placeholder="URL of the Fleet" %}
        {% render_field form.hosting %}
        {% render_field form.app %}
        <input type="submit" value="Update" />
    </form>
</div>
{% endblock %}


